<form>
  <h3>Aggiungi un link</h3>
  <div>
    <!--Label per nome dell'articolo-->
    <label for="title">Title:</label>
    <!--Assegnare al input un id che poi verrà ripreso dentro la nostra funzione-->
    <input name="title" #newtitle>
  </div>
  <div>
    <!--Label per nome del link-->
    <label for="link">Link:</label>
    <!--Binding abbiamo legato il tag input alla variabili newlink-->
    <input name="link" #newlink>
  </div>

<!--click è un metodo preimpostato di angular come jfx a seguire nome del moetodo creato da noi-->
<!--Inserire dentro la funzione del bottone i due id delle nostre due variabili di input-->
<button (click)="addArticle(newtitle,newlink)">
Sumbit Link
</button>

</form>